<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision$ -->
<chapter xml:id="mysqlnd.config" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
 <section>

  &reftitle.runtime;
  &extension.runtime;

  <para>
   <table>
    <title>MySQL Native Driver Configuration Options</title>
    <tgroup cols="4">
     <thead>
      <row>
       <entry>Name</entry>
       <entry>Default</entry>
       <entry>Changeable</entry>
       <entry>Changelog</entry>
      </row>
     </thead>
     <tbody>
      <row>
       <entry><link linkend="mysqlnd.collect_statistics">mysqlnd.collect_statistics</link></entry>
       <entry>"1"</entry>
       <entry>PHP_INI_SYSTEM</entry>
       <entry>Available since PHP 5.3.0.</entry>
      </row>
      <row>
       <entry><link linkend="mysqlnd.collect_memory_statistics">mysqlnd.collect_memory_statistics</link></entry>
       <entry>"0"</entry>
       <entry>PHP_INI_SYSTEM</entry>
       <entry>Available since PHP 5.3.0.</entry>
      </row>
     </tbody>
    </tgroup>
   </table>
   &ini.php.constants;
  </para>

  &ini.descriptions.title;

  <para>
   <variablelist>
    <varlistentry xml:id="mysqlnd.collect_statistics">
     <term>
      <parameter>mysqlnd.collect_statistics</parameter>
      <type>boolean</type>
     </term>
     <listitem>
      <para>
       Enables the collection of various client statistics which can be
       accessed through <function>mysqli_get_client_stats</function>,
       <function>mysqli_get_connection_stats</function>,
       <function>mysqli_get_cache_stats</function> and are shown in
       <literal>mysqlnd</literal> section of the output of the
       <function>phpinfo</function> function as well.
      </para>

      <para>
       This configuration setting enables all
       <link linkend="mysqlnd.stats">MySQL Native Driver statistics</link>
       except those relating to memory management.
      </para>
     </listitem>
    </varlistentry>

    <varlistentry xml:id="mysqlnd.collect_memory_statistics">
     <term>
      <parameter>mysqlnd.collect_memory_statistics</parameter>
      <type>boolean</type>
     </term>
     <listitem>
      <para>
       Enable the collection of various memory statistics which can be
       accessed through <function>mysqli_get_client_stats</function>,
       <function>mysqli_get_connection_stats</function>,
       <function>mysqli_get_cache_stats</function> and are shown in
       <literal>mysqlnd</literal> section of the output of the
       <function>phpinfo</function> function as well.
      </para>

      <para>
       This configuration setting enables the memory management statistics
       within the overall set of <link linkend="mysqlnd.stats">MySQL Native
       Driver statistics</link>.
      </para>
     </listitem>
    </varlistentry>
   </variablelist>
  </para>

 </section>
</chapter>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
