<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision$ -->
<chapter xml:id="mysqlnd.config" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">

  <title>Configuration</title>

  <para>
    <emphasis role="bold">Configuration File
    (php.ini) Settings</emphasis>
  </para>

  <para>
    In PHP 5.3 the following <filename>php.ini</filename> settings are
    available for the MySQL Native Driver:
  </para>

  <para>
    <literal>mysqlnd.collect_statistics</literal>
  </para>

  <para>
    type:boolean, default:"1", changeable:PHP_INI_SYSTEM
  </para>

  <para>
    Available since 5.3.0
  </para>

  <para>
    Enables the collection of various client statistics which can be
    accessed through <literal>mysqli_get_client_stats()</literal>,
    <literal>mysqli_get_connection_stats()</literal>,
    <literal>mysqli_get_cache_stats()</literal> and are shown in
    <literal>mysqlnd</literal> section of the output of the
    <literal>phpinfo()</literal> function as well.
  </para>

  <para>
    When enabled the following statistics will be collected:
  </para>

  <para>
    bytes_sent, bytes_received, packets_sent, packets_received,
    protocol_overhead_in, protocol_overhead_out,
    bytes_received_ok_packet, bytes_received_eof_packet,
    bytes_received_rset_header_packet,
    bytes_received_rset_field_meta_packet,
    bytes_received_rset_row_packet,
    bytes_received_prepare_response_packet,
    bytes_received_change_user_packet, packets_sent_command,
    packets_received_ok, packets_received_eof,
    packets_received_rset_header, packets_received_rset_field_meta,
    packets_received_rset_row, packets_received_prepare_response,
    packets_received_change_user, result_set_queries,
    non_result_set_queries, no_index_used, bad_index_used, slow_queries,
    buffered_sets, unbuffered_sets, ps_buffered_sets,
    ps_unbuffered_sets, flushed_normal_sets, flushed_ps_sets,
    ps_prepared_never_executed, ps_prepared_once_executed,
    rows_fetched_from_server_normal, rows_fetched_from_server_ps,
    rows_buffered_from_client_normal, rows_buffered_from_client_ps,
    rows_fetched_from_client_normal_buffered,
    rows_fetched_from_client_normal_unbuffered,
    rows_fetched_from_client_ps_buffered,
    rows_fetched_from_client_ps_unbuffered,
    rows_fetched_from_client_ps_cursor, rows_skipped_normal,
    rows_skipped_ps, copy_on_write_saved, copy_on_write_performed,
    command_buffer_too_small, connect_success, connect_failure
  </para>

  <para>
    <literal>mysqlnd.collect_memory_statistics</literal>
  </para>

  <para>
    type:boolean, default:"0", changeable:PHP_INI_SYSTEM
  </para>

  <para>
    Available since 5.3.0
  </para>

  <para>
    Enable the collection of various memory statistics which can be
    accessed through <literal>mysqli_get_client_stats()</literal>,
    <literal>mysqli_get_connection_stats()</literal>,
    <literal>mysqli_get_cache_stats()</literal> and are shown in
    <literal>mysqlnd</literal> section of the output of the
    <literal>phpinfo()</literal> function as well.
  </para>

  <para>
    When enabled the following statistics will be collected:
  </para>

  <para>TBD</para>

</chapter>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
