<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision$ -->

<refentry xml:id="yaf-application.app" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
 <refnamediv>
  <refname>Yaf_Application::app</refname>
  <refpurpose>Retrieve an Application instance</refpurpose>
 </refnamediv>

 <refsect1 role="description">
  &reftitle.description;
  <methodsynopsis>
   <modifier>public</modifier> <modifier>static</modifier> <type class="union"><type>Yaf_Application</type><type>null</type></type><methodname>Yaf_Application::app</methodname>
   <void />
  </methodsynopsis>
  <simpara>
   Retrieve the <classname>Yaf_Application</classname> instance.
   Alternatively, <methodname>Yaf_Dispatcher::getApplication</methodname>
   can also be used.
  </simpara>
 </refsect1>

 <refsect1 role="parameters">
  &reftitle.parameters;
  &no.function.parameters;
 </refsect1>

 <refsect1 role="returnvalues">
  &reftitle.returnvalues;
  <simpara>
   The <classname>Yaf_Application</classname> instance, or &null; if no
   application has been initialized yet.
  </simpara>
 </refsect1>

 <refsect1 role="examples">
  &reftitle.examples;
  <example>
   <title><methodname>Yaf_Application::app</methodname> example</title>
   <programlisting role="php">
<![CDATA[
<?php
/* index.php, the application entry */
$config = new Yaf_Config_Ini(__DIR__ . "/conf/application.ini", "product");
$application = new Yaf_Application($config);
$application->bootstrap()->run();
?>
]]>
   </programlisting>
  </example>
  <example>
   <title>Retrieving the application instance elsewhere</title>
   <programlisting role="php">
<![CDATA[
<?php
class IndexController extends Yaf_Controller_Abstract
{
    public function indexAction()
    {
        /* Yaf_Application::app() is an alias of getInstance() */
        $app = Yaf_Application::app();

        var_dump($app->environ());
        var_dump(Yaf_Application::getInstance() === $app);

        return false;
    }
}
?>
]]>
   </programlisting>
   &example.outputs.similar;
   <screen>
<![CDATA[
string(7) "product"
bool(true)
]]>
   </screen>
  </example>
 </refsect1>

 <refsect1 role="seealso">
  &reftitle.seealso;
  <para>
   <simplelist>
    <member><methodname>Yaf_Dispatcher::getApplication</methodname></member>
   </simplelist>
  </para>
 </refsect1>

</refentry>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
