<row>
  <entry>web.background</entry>
  <entry>include background image in output</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.loadImages</entry>
  <entry>include images in output</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableJavascript</entry>
  <entry>enable or disable javascript</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableIntelligentShrinking</entry>
  <entry>enable to attempt to fit more content on page, only applies to PDF output</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.minimumFontSize</entry>
  <entry>the minimum font size allowed</entry>
  <entry>9</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.printMediaType</entry>
  <entry>print content using print media type instead of screen media type</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.defaultEncoding</entry>
  <entry>content to use where no encoding is specified</entry>
  <entry>utf-8</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.userStyleSheet</entry>
  <entry>URL or path to a user specified style sheet</entry>
  <entry>/path/to/style.css</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enablePlugins</entry>
  <entry>enable or disable NS plugins</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
