<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision$ -->
<sect1 xml:id="internals2.memory.persistence" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
 <title>Data persistence</title>
 
 <simpara>
  In this context, data persistence is taken to mean any data that is intended to survive the current request. The memory management within the engine is very focused on request bound allocations, but this is not always practical or appropriate. Persistent memory is sometimes required in order to satisfy requirements of external libraries, it can also be useful while <code>Hacking</code>.
 </simpara>
 
 <simpara>
  A common use of persistent memory is to enable persistent SQL server connections, though this practice is frowned upon, it is none the less the most common use of this feature.
 </simpara>
 
 <note>
  <simpara>
   All of the following functions take the additional persistent parameter, should this be false, the engine will use its regular allocators (emalloc) and the memory should not be considered persistent. Where memory is allocated as persistent, system allocators are invoked, under most circumstances they are still not able to return NULL pointers just as the Main memory APIs.
  </simpara>
 </note>
 
 <table xml:id="internals2.memory.management.papis">
  <title>Persistent memory APIs</title>
  <tgroup cols="2">
   <thead>
    <row>
     <entry>Prototype</entry>
     <entry>Description</entry>
    </row>
   </thead>
   <tbody>
    
    <row>
     <entry><code>void *pemalloc(size_t size, zend_bool persistent)</code></entry>
     <entry>Allocate <code>size</code> bytes of memory.</entry>
    </row>
    
    <row>
     <entry><code>void *pecalloc(size_t nmemb, size_t size, zend_bool persistent)</code></entry>
     <entry>
      Allocate a buffer for <code>nmemb</code> elements of
      <code>size</code> bytes and makes sure it is initialized with zeros.
     </entry>
    </row>
    
    <row>
     <entry><code>void *perealloc(void *ptr, size_t size, zend_bool persistent)</code></entry>
     <entry>
      Resize the buffer <code>ptr</code>, which was allocated using
      <code>emalloc</code> to hold <code>size</code> bytes of memory.
     </entry>
    </row>
    
    <row>
     <entry><code>void pefree(void *ptr, zend_bool persistent)</code></entry>
     <entry>
      Free the buffer pointed by <code>ptr</code>. The buffer had to be 
      allocated by <code>pemalloc</code>.
     </entry>
    </row>
    
    <row>
     <entry>
      <code>void *safe_pemalloc(size_t nmemb, size_t size, size_t offset, zend_bool persistent)</code>
     </entry>
     <entry>
      Allocate a buffer for holding <code>nmemb</code> blocks of each
      <code>size</code> bytes and an additional <code>offset</code> bytes.
      This is similar to <code>pemalloc(nmemb * size + offset)</code> but adds
      a special protection against overflows.
     </entry>
    </row>
    
    <row>
     <entry><code>char *pestrdup(const char *s, zend_bool persistent)</code></entry>
     <entry>
      Allocate a buffer that can hold the NULL-terminated string
      <code>s</code> and copy the <code>s</code> into that buffer.
     </entry>
    </row>
    
    <row>
     <entry>
      <code>char *pestrndup(const char *s, unsigned int length, zend_bool persistent)</code>
     </entry>
     <entry>
      Similar to <code>pestrdup</code> while the length of the
      NULL-terminated string is already known.
     </entry>
    </row>
   </tbody>
  </tgroup>
 </table>
 
 <caution>
  <simpara>
   It is important to remember that memory allocated to be persistent is not optimized or tracked by the engine; it is not subject to memory_limit, additionally, all variables that are created by the <code>Hacker</code> for the engine must not use persistent memory.
  </simpara>
 </caution>
</sect1>
