/* phpZ PHP CHM skin ver 1.0
By Gonzalo De la Peña <gnz@pistonbroke.com>
*/

/* specific styles */

.funcreturntype {
	font-style:oblique;
	color:darkblue;
}

.funcname {
	color:darkorange;
}

.funcparamtype {
	color:darkblue;
	font-weight:normal;
	font-style:oblique;
}

.funcparamname {
	color:#666666;
}

.funcUsage {
	font-weight:bold;
}

/* html styles */

A {
	color: #444499;
	text-decoration:none;
}

A:hover {
	text-decoration:underline;
}

/* general body style */
BODY {
	color:#000000;
	margin:0;
	background-image:url('background.gif');
}

/* misc formatting classes */
.text {
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:12px;
}

.small {
	font-size:11px;
}

.big {
	font-size:19px;
}

.tiny {
	font-family:Arial, sans-serif;
	font-size:9px;
}

.centered {
	text-align:center;
}

.secondaryType {
	font-family:Arial, Helvetica, sans-serif;
}

.switcherTabs {
	margin-right:5px;
	cursor:hand;
}

.black {
	color:#000000;
}

.bold {
	font-weight:bold;
}

.italic {
	font-style:oblique;
}

.ulEd {
	text-decoration:underline;
}

.lightBlue {
	color:#828AAD;
}

.lightText {
	color:#999999;
}

FORM {
	margin:0;
}

/* neutralises bold tags */
B {
	font-weight:normal;
}

/* ---- THE FOLLOWING IS IMPORTED FROM THE SAMPLE SKIN ----- */

/* different size values for headings */
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }

/* Elements to format with secondary type */
h1, h2, h3, h4, h5, {
	font-family:Arial, Helvetica, sans-serif;
}

/* margin and style settings for headers */
h1, h2, h3, h4, h5, {
	font-style:normal;
	font-weight:bold;
	margin-left:10px;
	padding-top:20px;
	margin-top:0;
}

.formalhead {
	font-weight:normal;
	color:#5F6681;
	margin:1em 0 0.5em 10px;
}

/* general paragraphs in text */
p {
	line-height:1.3em;
	margin:8px 10px 8px 10px;
}

/* list type elements */
li, dt { margin-bottom: 5px; }
ul, dl { 
	margin-top:    10px;
	margin-bottom: 10px;
}
dl { margin-left: 10px; }

/* for tables used to contain data */
.datatable { 
	margin-right: 20px;
	margin-left: 20px;
}

/* admonitional blocks */
.note, .warning, .caution, .examplecode, .untext {
	margin: 20px;
	border: 1px solid #BABFD4;
	padding: 5px 5px 5px 10px;
}

/* color for warning and caution boxes */
.warning, .caution {
	background-color:#FFD685;
	border-color:#ff9900;
	color:#000000;
}

/* paragraphs inside notes */
.note, .warning, .caution, .note p, .warning p, .caution p {
	font-size:11px;
	line-height:1.3em;
}

/* note specific */    
.note {
	color:#5F6681;
	background-color:#ffffcc;
}

/* .examplecode is used to print out PHP code, output, etc.
   .codelink is the link to copy the code to clipboard
	 .untext is user contributed notes text */
.examplecode, .untext {
	margin-top:10px;
	background-color:#f3f3f3;
}
	 
.codelink {
	font-size: 10px;
	text-align: right;
	margin-bottom: 5px;
	margin-right:20px;
}

/* see also lists, usually at the bottom of pages */
.seealso {
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #DDDDFF;
	margin: 20px 0px 0px 0px;
	padding: 5px 5px 5px 10px;
}

/* user note header text */
.unheader {
	margin:15 0 0 10;
}

/* colors for color code highliting */
.cs { color: #9EA1C0 } /* string */
.cc { color: #b8860b } /* comment  */
.ck { color: #006600 } /* keyword  */
.cd { color: #0000CC } /* default */

/* Style elements for the context menu */
.context {
    font-size: 12px;
    color: #000000;
    margin: 2px 2px 2px 3px;
    line-height: 16px;
}
#contextMenu {
    position: absolute;
    width: 150;
    border: 1px solid #000000;
    visibility: hidden;
    background-color: #f5f5f5;
}

/* Form elements (used in context menu) */
form.thin {
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Author group on frontpage */
div.authorgroup {
    text-align: center;
}
